.table-container {
   overflow-x: auto;
}

.waiters-table {
   width: max-content;
   min-width: 100%;
   border-collapse: collapse;
   background-color: #fff;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
   table-layout: auto;
}

.waiters-table th,
.waiters-table td {
   padding: 12px;
   text-align: left;
   width: fit-content;
   max-width: 200px;
}

.waiters-table th {
   padding: 5px 12px;
   text-transform: uppercase;
   font-size: 0.85rem;
   color: #8d8d8d;
   font-weight: 500;
}
.waiters-table tr:not(:last-child) { border-bottom: 1px solid #eee; }

.waiters-table th:hover { cursor: default; }
.waiters-table tr:hover { cursor: pointer; }

.waiters-table thead {
   background-color: #fff;
   font-size: 1rem;
}

.waiters-table tr:not(#head-row):hover {
   background-color: #f8f8f8;
}

.link-display { cursor: pointer; word-break: break-all; }
.link-display:hover { text-decoration: underline; }

.waiters-table .table-nowrap { white-space: nowrap; }
.waiters-table .table-description { max-width: 650px; }
