.app {
   width: 100vw;
   height: 100svh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   user-select: none;
}

.app .content {
   height: calc(100svh - 9vh);
   background: #ffffff;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   overflow-x: hidden;
}

.app .content .content-wrapper {
   width: 100%;
   padding: 15px;
   max-width: 1000px;
   height: 100%;
}

.app .content textarea.home-prompt {
   width: 100%;
   scale: 0.97;
   background-color: #eeeeee;
   border: 1px solid #f3f4ff;
   border-radius: 20px;
   padding: 20px;
   opacity: 0.8;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.021);
}

.app .content textarea.home-prompt:hover { scale: 0.98; }

.app .content textarea.home-prompt:focus {
   scale: 1;
   opacity: 1;
   background-color: #ffffff;
   border: 1px solid #c9cdff;
   /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.096); */
   box-shadow: 0 3px 10px rgba(3, 0, 153, 0.219);
}

.htv {
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media screen and (max-width: 1000px) {
   .htv {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
   }
}

.htv.gap-1 { gap: 1px; }
.htv.gap-2 { gap: 2px; }
.htv.gap-3 { gap: 3px; }
.htv.gap-4 { gap: 4px; }
.htv.gap-5 { gap: 5px; }
.htv.gap-6 { gap: 6px; }
.htv.gap-7 { gap: 7px; }
.htv.gap-8 { gap: 8px; }
.htv.gap-9 { gap: 9px; }
.htv.gap-10 { gap: 10px; }
.htv.gap-15 { gap: 15px; }
.htv.gap-20 { gap: 20px; }
.htv.gap-30 { gap: 30px; }
.htv.gap-40 { gap: 40px; }
.htv.gap-45 { gap: 45px; }

.app .add-payment-input {
   outline: none;
   border: none;
   position: relative;
   caret-color: #00000000;
}

.app .add-payment-input::after {
   content: "";
   position: absolute;
   width: 3px;
   height: 100%;
   background: #000000;
   right: -3px;
   top: 0;
   animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.account-bar-wrapper {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px 10px;
   border-bottom: 1px solid #e2e2e2;
}

.account-bar-wrapper .account-bar {
   width: 100%;
   max-width: 1000px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.account-bar-wrapper .account-bar .app-icon {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
}

.account-bar-wrapper .account-bar .app-icon .app-icon-clickable {
   width: fit-content;
   height: 100%;
   cursor: pointer;
}

.account-bar-wrapper .account-bar .account-image {
   width: fit-content;
   height: 100%;
   cursor: pointer;
}