:root {
	--background: #ffffff;
	--foreground: #0a0a0a;
  --accent-color: #6b558f;  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  max-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
  font-family: "Inter", ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { width: 6px; height: 6px; background: transparent; }
::-webkit-scrollbar-thumb { width: 6px; background-color: #929292; border-radius: 8px; }
::-webkit-scrollbar-thumb:hover { width: 6px; background-color: #7a7a7a9f; border-radius: 8px; }

.accent-color { color: #6b558f; }

.box { display: block; }
[class*="text-"] { display: block; width: 100%; }
.text-xxxt { font-size: 0.7rem; }
.text-xxt { font-size: 0.75rem; }
.text-xt { font-size: 0.8rem; }
.text-t { font-size: 0.85rem; }
.text-xxxs { font-size: 0.9rem; }
.text-xxs { font-size: 1rem; }
.text-xs { font-size: 1.1rem; }
.text-s { font-size: 1.2rem; }
.text-sm { font-size: 1.35rem; }
.text-m { font-size: 1.5rem; }
.text-ml { font-size: 1.65rem; }
.text-l { font-size: 1.8rem; }
.text-xl { font-size: 2rem; }
.text-xxl { font-size: 2.15rem; }
.text-xxxl { font-size: 2.4rem; }
.text-mb { font-size: 2.2rem; }
.text-xmb { font-size: 2.35rem; }
.text-xxmb { font-size: 2.55rem; }
.text-xxxmb { font-size: 2.75rem; }
.text-b { font-size: 2.8rem; }
.text-xb { font-size: 3rem; }
.text-xxb { font-size: 3.25rem; }
.text-xxxb { font-size: 3.85rem; }

[class*="text-"].bold-300 { font-weight: 300; }
[class*="text-"].bold-400 { font-weight: 400; }
[class*="text-"].bold-500 { font-weight: 500; }
[class*="text-"].bold-600 { font-weight: 600; }
[class*="text-"].bold-700 { font-weight: 700; }
[class*="text-"].bold-800 { font-weight: 800; }
[class*="text-"].bold-900 { font-weight: 900; }

[class*="text-"].error {
  color: #ff2d2d;
  background-color: #ffcccc;
  border-radius: 8px;
  border: 1px solid #ff8c8c;
}
[class*="text-"].error-text {
  color: #ff2d2d !important;
  font-weight: bolder;
}
[class*="text-"].success { color: #14c100; }

[class*="text-"].accent-color-pill {
  background-color: #6b558f;
  border-radius: 20px;
  color: white;
  padding: 3px 7px;
}

.box.text-left, [class*="text-"].text-left { text-align: left; }
.box.text-center, [class*="text-"].text-center { text-align: center; }
.box.text-right, [class*="text-"].text-right { text-align: right; }

.box.dfb, [class*="text-"].dfb { display: flex; }
.box.dfb.column, [class*="text-"].dfb.column { flex-direction: column; }
.box.dfb.align-center, [class*="text-"].dfb.align-center { align-items: center; }
.box.dfb.align-end, [class*="text-"].dfb.align-end { align-items: end; }
.box.dfb.justify-center, [class*="text-"].dfb.justify-center { justify-content: center; }
.box.dfb.justify-end, [class*="text-"].dfb.justify-end { justify-content: end; }
.box.dfb.wrap, [class*="text-"].dfb.wrap { flex-wrap: wrap; }

.box.gap-10, [class*="text-"].gap-10 { gap: 10px; }
.box.gap-15, [class*="text-"].gap-15 { gap: 15px; }
.box.gap-20, [class*="text-"].gap-20 { gap: 20px; }
.box.gap-30, [class*="text-"].gap-30 { gap: 30px; }
.box.gap-40, [class*="text-"].gap-40 { gap: 40px; }
.box.gap-45, [class*="text-"].gap-45 { gap: 45px; }
.box.gap-50, [class*="text-"].gap-50 { gap: 50px; }
.box.gap-55, [class*="text-"].gap-55 { gap: 55px; }
.box.gap-60, [class*="text-"].gap-60 { gap: 60px; }
.box.gap-65, [class*="text-"].gap-65 { gap: 65px; }
.box.gap-70, [class*="text-"].gap-70 { gap: 70px; }
.box.gap-75, [class*="text-"].gap-75 { gap: 75px; }
.box.gap-80, [class*="text-"].gap-80 { gap: 80px; }
.box.gap-85, [class*="text-"].gap-85 { gap: 85px; }
.box.gap-90, [class*="text-"].gap-90 { gap: 90px; }
.box.gap-95, [class*="text-"].gap-95 { gap: 95px; }

.box.pd-05, [class*="text-"].pd-05 { padding-top: 5px; padding-bottom: 5px; }
.box.pd-1, [class*="text-"].pd-1 { padding-top: 10px; padding-bottom: 10px; }
.box.pd-15, [class*="text-"].pd-15 { padding-top: 15px; padding-bottom: 15px; }
.box.pd-2, [class*="text-"].pd-2 { padding-top: 20px; padding-bottom: 20px; }
.box.pd-3, [class*="text-"].pd-3 { padding-top: 30px; padding-bottom: 30px; }
.box.pd-4, [class*="text-"].pd-4 { padding-top: 40px; padding-bottom: 40px; }
.box.pd-5, [class*="text-"].pd-5 { padding-top: 50px; padding-bottom: 50px; }
.box.pd-6, [class*="text-"].pd-6 { padding-top: 60px; padding-bottom: 60px; }
.box.pd-7, [class*="text-"].pd-7 { padding-top: 70px; padding-bottom: 70px; }
.box.pd-8, [class*="text-"].pd-8 { padding-top: 80px; padding-bottom: 80px; }
.box.pd-9, [class*="text-"].pd-9 { padding-top: 90px; padding-bottom: 90px; }

.box.pdx-05, [class*="text-"].pdx-05 { padding-left: 5px; padding-right: 5px; }
.box.pdx-1, [class*="text-"].pdx-1 { padding-left: 10px; padding-right: 10px; }
.box.pd-11 { padding-top: 11px; padding-bottom: 11px; }
.box.pd-12 { padding-top: 12px; padding-bottom: 12px; }
.box.pd-13 { padding-top: 13px; padding-bottom: 13px; }
.box.pd-14 { padding-top: 14px; padding-bottom: 14px; }
.box.pdx-15, [class*="text-"].pdx-15 { padding-left: 15px; padding-right: 15px; }
.box.pdx-2, [class*="text-"].pdx-2 { padding-left: 20px; padding-right: 20px; }
.box.pdx-3, [class*="text-"].pdx-3 { padding-left: 30px; padding-right: 30px; }
.box.pdx-4, [class*="text-"].pdx-4 { padding-left: 40px; padding-right: 40px; }
.box.pdx-5, [class*="text-"].pdx-5 { padding-left: 50px; padding-right: 50px; }
.box.pdx-6, [class*="text-"].pdx-6 { padding-left: 60px; padding-right: 60px; }
.box.pdx-7, [class*="text-"].pdx-7 { padding-left: 70px; padding-right: 70px; }
.box.pdx-8, [class*="text-"].pdx-8 { padding-left: 80px; padding-right: 80px; }
.box.pdx-9, [class*="text-"].pdx-9 { padding-left: 90px; padding-right: 90px; }

textarea.pd-05, input.pd-05, button.pd-05 { padding-top: 5px; padding-bottom: 5px; }
textarea.pd-1, input.pd-1, button.pd-1 { padding-top: 10px; padding-bottom: 10px; }
textarea.pd-11, input.pd-11, button.pd-11 { padding-top: 11px; padding-bottom: 11px; }
textarea.pd-12, input.pd-12, button.pd-12 { padding-top: 12px; padding-bottom: 12px; }
textarea.pd-13, input.pd-13, button.pd-13 { padding-top: 13px; padding-bottom: 13px; }
textarea.pd-14, input.pd-14, button.pd-14 { padding-top: 14px; padding-bottom: 14px; }
textarea.pd-15, input.pd-15, button.pd-15 { padding-top: 15px; padding-bottom: 15px; }
textarea.pd-2, input.pd-2, button.pd-2 { padding-top: 20px; padding-bottom: 20px; }
textarea.pd-3, input.pd-3, button.pd-3 { padding-top: 30px; padding-bottom: 30px; }
textarea.pd-4, input.pd-4, button.pd-4 { padding-top: 40px; padding-bottom: 40px; }
textarea.pd-5, input.pd-5, button.pd-5 { padding-top: 50px; padding-bottom: 50px; }
textarea.pd-6, input.pd-6, button.pd-6 { padding-top: 60px; padding-bottom: 60px; }
textarea.pd-7, input.pd-7, button.pd-7 { padding-top: 70px; padding-bottom: 70px; }
textarea.pd-8, input.pd-8, button.pd-8 { padding-top: 80px; padding-bottom: 80px; }
textarea.pd-9, input.pd-9, button.pd-9 { padding-top: 90px; padding-bottom: 90px; }


textarea.pdx-05, input.pdx-05, button.pdx-05 { padding-left: 5px; padding-right: 5px; }
textarea.pdx-1, input.pdx-1, button.pdx-1 { padding-left: 10px; padding-right: 10px; }
textarea.pdx-15, input.pdx-15, button.pdx-15 { padding-left: 15px; padding-right: 15px; }
textarea.pdx-2, input.pdx-2, button.pdx-2 { padding-left: 20px; padding-right: 20px; }
textarea.pdx-3, input.pdx-3, button.pdx-3 { padding-left: 30px; padding-right: 30px; }
textarea.pdx-4, input.pdx-4, button.pdx-4 { padding-left: 40px; padding-right: 40px; }
textarea.pdx-5, input.pdx-5, button.pdx-5 { padding-left: 50px; padding-right: 50px; }
textarea.pdx-6, input.pdx-6, button.pdx-6 { padding-left: 60px; padding-right: 60px; }
textarea.pdx-7, input.pdx-7, button.pdx-7 { padding-left: 70px; padding-right: 70px; }
textarea.pdx-8, input.pdx-8, button.pdx-8 { padding-left: 80px; padding-right: 80px; }
textarea.pdx-9, input.pdx-9, button.pdx-9 { padding-left: 90px; padding-right: 90px; }

.box.mt-05, [class*="text-"].mt-05 { margin-top: 5px;  }
.box.mt-1, [class*="text-"].mt-1 { margin-top: 10px;  }
.box.mt-15, [class*="text-"].mt-15 { margin-top: 15px; }
.box.mt-2, [class*="text-"].mt-2 { margin-top: 20px;  }
.box.mt-3, [class*="text-"].mt-3 { margin-top: 30px;  }
.box.mt-4, [class*="text-"].mt-4 { margin-top: 40px;  }
.box.mt-5, [class*="text-"].mt-5 { margin-top: 50px;  }
.box.mt-6, [class*="text-"].mt-6 { margin-top: 60px;  }
.box.mt-7, [class*="text-"].mt-7 { margin-top: 70px;  }
.box.mt-8, [class*="text-"].mt-8 { margin-top: 80px;  }
.box.mt-9, [class*="text-"].mt-9 { margin-top: 90px;  }

.box.mb-05, [class*="text-"].mb-05 { margin-bottom: 5px;  }
.box.mb-1, [class*="text-"].mb-1 { margin-bottom: 10px;  }
.box.mb-15, [class*="text-"].mb-15 { margin-bottom: 15px; }
.box.mb-2, [class*="text-"].mb-2 { margin-bottom: 20px;  }
.box.mb-3, [class*="text-"].mb-3 { margin-bottom: 30px;  }
.box.mb-4, [class*="text-"].mb-4 { margin-bottom: 40px;  }
.box.mb-5, [class*="text-"].mb-5 { margin-bottom: 50px;  }
.box.mb-6, [class*="text-"].mb-6 { margin-bottom: 60px;  }
.box.mb-7, [class*="text-"].mb-7 { margin-bottom: 70px;  }
.box.mb-8, [class*="text-"].mb-8 { margin-bottom: 80px;  }
.box.mb-9, [class*="text-"].mb-9 { margin-bottom: 90px;  }

[class*="text-"].italic { font-style: italic; }

[class*="text-"].grey-1 { color: #eeeeee; }
[class*="text-"].grey-2 { color: #d1d1d1; }
[class*="text-"].grey-3 { color: #b4b4b4; }
[class*="text-"].grey-4 { color: #838383; }
[class*="text-"].grey-5 { color: #464646; }

.box.cursor-pointer, [class*="text-"].cursor-pointer { cursor: pointer; }

.box.visible-link, [class*="text-"].visible-link { cursor: pointer; }
.visible-link.underline { text-decoration: underline; }
.box.visible-link:hover, [class*="text-"].visible-link:hover { text-decoration: underline; }

.box.fit, [class*="text-"].fit { width: fit-content; }
.box.h-fit, [class*="text-"].h-fit { height: fit-content; }
.box.h-full, [class*="text-"].h-full { height: 100%; }
.box.full { width: 100%; }

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.horizontal-convertible { width: 100%; display: flex; }
.horizontal-convertible.vertical-center { align-items: center; }
.horizontal-convertible.horizontal-center { justify-content: center; }
.horizontal-convertible.wrap { flex-wrap: wrap; }
.horizontal-convertible.align-stretch { align-items: stretch; }
@media screen and (max-width: 900px) {
  .horizontal-convertible { display: flex; flex-direction: column; }
  .horizontal-convertible.vertical-center { align-items: start; }
  .horizontal-convertible.horizontal-center { justify-content: start; }
  .horizontal-convertible.vertical-center.mobile { justify-content: center; }
  .horizontal-convertible.horizontal-center.mobile { align-items: center; }
}
.horizontal-convertible.gap-1, .list.gap-1, [class*="text-"].gap-1 { gap: 1px; }
.horizontal-convertible.gap-2, .list.gap-2, [class*="text-"].gap-2 { gap: 2px; }
.horizontal-convertible.gap-3, .list.gap-3, [class*="text-"].gap-3 { gap: 3px; }
.horizontal-convertible.gap-4, .list.gap-4, [class*="text-"].gap-4 { gap: 4px; }
.horizontal-convertible.gap-5, .list.gap-5, [class*="text-"].gap-5 { gap: 5px; }
.horizontal-convertible.gap-6, .list.gap-6, [class*="text-"].gap-6 { gap: 6px; }
.horizontal-convertible.gap-7, .list.gap-7, [class*="text-"].gap-7 { gap: 7px; }
.horizontal-convertible.gap-8, .list.gap-8, [class*="text-"].gap-8 { gap: 8px; }
.horizontal-convertible.gap-9, .list.gap-9, [class*="text-"].gap-9 { gap: 9px; }
.horizontal-convertible.gap-10, .list.gap-10, [class*="text-"].gap-10 { gap: 10px; }


/* modal styles */
.modal-container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.modal-container .modal-box {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.097);
}

/* font family settings for input, button and textarea */
input, button, textarea {
  font-family: "Inter", ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

/* button styles */
button {
  width: fit-content;
  gap: 8px;
  padding: 7px 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  background: #6b558f;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.096);
  display: flex;
  align-items: center;
  justify-content: center;
}
button.tiny-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.096);
}

button:hover { scale: 1.03; }
button:active { scale: 0.94; }
button:disabled { opacity: 0.7; cursor: not-allowed; }

button.green {
  background-color: #00c040;
  color: white;
}

button.unclick { cursor: default !important; }
button.unclick:active { scale: 1 !important; cursor: default !important; }
button.text-left { text-align: left; }

button.whitespace-nowrap { white-space: nowrap; }

button.grey { background: #dbdbdb; color: black; }
button.full { width: 100%; }
button.outline-black {
  background: #ffffff;
  color: black;
  border: 1px solid #ebebeb;
}
button.transparent {
  background: transparent;
  color: black;
  border: none;
  padding: 5px 5px;
}
button.delete {
  background: #e42d2d;
  color: white;
}

button.xxxs { font-size: 0.9rem; }
button.xxs { font-size: 1rem; }
button.xs { font-size: 1.1rem; }
button.s { font-size: 1.2rem; }
button.sm { font-size: 1.35rem; }
button.m { font-size: 1.5rem; }
button.ml { font-size: 1.65rem; }
button.l { font-size: 1.8rem; }
button.xl { font-size: 2rem; }
button.xxl { font-size: 2.15rem; }
button.xxxl { font-size: 2.4rem; }
button.b { font-size: 2.8rem; }
button.xb { font-size: 3rem; }
button.xxb { font-size: 3.25rem; }
button.xxxb { font-size: 3.85rem; }


/* input styles */
input {
  width: fit-content;
  padding: 8px 12px;
  border: 1px solid #dadada;
  border-radius: 10px;
  outline: none;
}
input:focus { border: 1px solid #6b558f; }
input.full { width: 100%; }

input.xxxs { font-size: 0.9rem; }
input.xxs { font-size: 1rem; }
input.xs { font-size: 1.1rem; }
input.s { font-size: 1.2rem; }
input.sm { font-size: 1.35rem; }
input.m { font-size: 1.5rem; }
input.ml { font-size: 1.65rem; }
input.l { font-size: 1.8rem; }
input.xl { font-size: 2rem; }
input.xxl { font-size: 2.15rem; }
input.xxxl { font-size: 2.15rem; }


/* textarea styles */
textarea {
  width: fit-content;
  padding: 7px 12px;
  height: 15vh;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  outline: none;
  resize: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
textarea:focus { border: 1px solid #3a48ff; }
textarea.full { width: 100%; }

textarea.h-10 { height: 10vh; }
textarea.h-15 { height: 15vh; }
textarea.h-20 { height: 20vh; }
textarea.h-25 { height: 25vh; }
textarea.h-30 { height: 30vh; }
textarea.h-35 { height: 35vh; }
textarea.h-40 { height: 40vh; }
textarea.h-45 { height: 45vh; }
textarea.h-50 { height: 50vh; }
textarea.h-55 { height: 55vh; }
textarea.h-60 { height: 60vh; }
textarea.h-65 { height: 65vh; }

textarea.xxxs { font-size: 0.9rem; }
textarea.xxs { font-size: 1rem; }
textarea.xs { font-size: 1.1rem; }
textarea.s { font-size: 1.2rem; }
textarea.sm { font-size: 1.35rem; }
textarea.m { font-size: 1.5rem; }
textarea.ml { font-size: 1.65rem; }
textarea.l { font-size: 1.8rem; }
textarea.xl { font-size: 2rem; }
textarea.xxl { font-size: 2.15rem; }
textarea.xxxl { font-size: 2.15rem; }

textarea.border-radius-5 { border-radius: 5px; }
textarea.border-radius-6 { border-radius: 6px; }
textarea.border-radius-7 { border-radius: 7px; }
textarea.border-radius-8 { border-radius: 8px; }
textarea.border-radius-9 { border-radius: 9px; }
textarea.border-radius-10 { border-radius: 10px; }
textarea.border-radius-11 { border-radius: 11px; }
textarea.border-radius-12 { border-radius: 12px; }
textarea.border-radius-13 { border-radius: 13px; }
textarea.border-radius-14 { border-radius: 14px; }
textarea.border-radius-15 { border-radius: 15px; }
textarea.border-radius-20 { border-radius: 20px; }
textarea.border-radius-25 { border-radius: 25px; }
textarea.border-radius-30 { border-radius: 30px; }

.no-trans { transition: none; }

/** rechart styles  */
.recharts-tooltip-wrapper > .recharts-default-tooltip {
  border-radius: 10px !important;
  padding: 10px 18px !important;
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--background) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.171);
  border: 0 !important;
}
.recharts-tooltip-wrapper > .recharts-default-tooltip p { font-weight: 700 !important; }
.recharts-tooltip-wrapper > .recharts-default-tooltip .recharts-tooltip-item-value {
  color: var(--accent-color) !important;
  font-weight: 600 !important;
}

.recharts-wrapper > svg > g.recharts-cartesian-grid > g > line {
  stroke: #adadad69;
}

.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis > g > g > line { display: none !important; }
.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis > g > g > line { display: none !important; }
.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis > g > g > line { display: none !important; }
.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis > line { display: none !important; }
.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis > line { display: none !important; }
.recharts-tooltip-wrapper > .recharts-default-tooltip .recharts-tooltip-item-name { display: none !important; }
.recharts-tooltip-wrapper > .recharts-default-tooltip .recharts-tooltip-item-separator { display: none !important; }
.recharts-legend-wrapper > ul {
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
}
.recharts-legend-wrapper > ul > li.recharts-legend-item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.recharts-legend-wrapper > ul > li.recharts-legend-item > svg { margin-top: 2px; }